.card__container {
    display              : grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    row-gap              : 5px;
    column-gap           : 50px;
    margin-top           : 50px;
}

.card {
    border    : 1px solid rgb(197, 197, 197);
    display   : block;
    transition: transform ease-in-out .2s;
    box-shadow: 2px 2px 5px rgb(197, 197, 197);
}

.card:hover {
    box-shadow: 2px 2px 10px rgb(197, 197, 197);
    transform : scale(1.05);
}

.img__container img {
    display        : block;
    height         : 100%;
    width          : 100%;
    object-fit     : contain;
    object-position: center;
    margin         : 0;
}

/* REACT LOGO ANIMATION */
@media (prefers-reduced-motion: no-preference) {
    .react {
        animation: App-logo-spin infinite 10s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}