.description {
    margin-top: 20px;
}

.skills {
    display              : grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-auto-rows       : 80px;
    row-gap              : 5px;
    column-gap           : 80px;
}


