.root {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    height: 100vh;
    overflow: hidden;
}

.sidebar {
    width: calc(100% / 3);
    border: 1px solid red;
    overflow: hidden;
    opacity: 1;
    transition: all ease-out .3s;
}

.pages {
    width: 100%;
    border: 1px solid yellow;
    width: 100%;
    overflow-Y: auto;
    padding: 20px;
}

@media only screen and (max-width: 768px){
    .sidebar{
        width: 0;
        opacity: 0;
    }
}