/* IMAGE */
.profile__img {
    height         : 35%;
    padding        : -5px;
    display        : flex;
    justify-content: center;
    align-items    : center;
    overflow       : hidden;
}

.img__container {
    width        : 170px;
    height       : 170px;
    border-radius: 50%;
    overflow     : hidden;
}


.img__container img {
    transform: scale(1.4);
}

/* INSIDE MENU */

.profile__name {
    text-align: center;
    overflow  : hidden;
}

.navigation {
    margin  : 0;
    padding : 0;
    position: relative;
    width   : 80%;
    margin  : auto;
}

.navigation li {
    list-style-type: none;
    font-size      : 18px;
    text-align     : start;
    display        : block;
    padding        : 5px 0 5px 0;
    margin-bottom  : 2px;
    z-index        : 2;
}

.navigation li h2,
a {
    display     : block;
    padding-left: 10px;
}

.background-active {
    width              : 100%;
    height             : 32px;
    background-color   : orange;
    border-radius      : 8px;
    border             : 1px solid #ff7e63;
    position           : absolute;
    transition-duration: .3s;
    z-index            : -1 !important;
    margin             : auto;
}