/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Roboto", "Helvetica Neue", sans-serif;
    box-sizing: border-box;
    padding: 0;
}

/* NEED for ajusting the images display */
img {
    display           : block;
    height            : 100%;
    width             : 100%;
    object-fit        : cover;
    object-position   : center;
}

a {
    color: black;
    text-decoration: none;
}